" Instead of Esc button
inoremap jk <Esc>

" Select all
nmap <C-a> gg<S-v>G

" clipboard to copy and to paste
" win
"set clipboard^=unnamed,unnamedplus

" lin
set clipboard=unnamedplus

" mac
"set clipboard=unnamed

" Set the number of context lines you would like to see above and below the cursor
set scrolloff=10
